.img-wrapper {
    display: inline-block;
    overflow: hidden;

    /*border: 1px solid gray;*/
    border-radius: 10px;
}

.img-wrapper img {
    -webkit-transform:scale(1.18); /* Safari and Chrome */
    -moz-transform:scale(1.18); /* Firefox */
    -ms-transform:scale(1.18); /* IE 9 */
    -o-transform:scale(1.18); /* Opera */
    transform:scale(1.18);

    vertical-align: middle;
}
