<div style="text-align: center; height: 100px;">
    <div style="display: inline-block; width: 40%; padding: 25px;">
        <input
            class="form-control input-lg"
            type="text"
            (keyup)="change()"
            [(ngModel)]="boxtext">
    </div>
</div>

<div class="container">
    <div class="row">
        <div
            *ngFor="let card of cards"
            class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail">
                {{ card.Name }}
                <br/>
                <div class="img-wrapper">
                    <img
                        class="img-responsive"
                        src="http://res.cloudinary.com/elusive/image/upload/c_crop,g_north,h_185,w_160,x_0,y_64/{{ card.CardId }}.png"
                        alt="{{ card.Name }}">
                </div>
            </a>
        </div>
    </div>
</div>