<div class="container-fluid" style="width:100%">
    <div class="row overall">
        <div class="search-pane col-lg-8"
            [class.col-lg-8]="chosenCard"
            [class.col-lg-12]="!chosenCard">
            <div style="text-align: center; height: 100px; width: 100%;">
                <div style="display: inline-block; width: 60%; padding: 25px;">
                    <form [ngFormModel]="form">
                        <input
                            id="searchTerm"
                            [ngFormControl]="form.controls.searchTerm"
                            class="form-control input-lg"
                            type="text">
                    </form>
                </div>
            </div>

            <div>
                <div class="row row-eq-height">
                    <div
                        *ngFor="let card of cards; let i = index"
                        class="col-lg-3 col-md-4 col-xs-6 search-tile">
                        <a class="card-inside"
                            (click)="selectCard($event, card)"
                            [style.background-color]="chosenCard==card?'rgb(237,237,237)':'#f7f7f7'">
                            <h4>{{ card.Name }}</h4>
                            <div class="img-wrapper">
                                <img
                                    class="img-responsive"
                                    src="http://res.cloudinary.com/elusive/image/upload/c_crop,g_north,h_185,w_160,x_0,y_64/{{ card.CardId }}.png"
                                    alt="{{ card.Name }}">
                            </div>
                            <div *ngIf="card.highlights">
                                <div *ngFor="let h of card.highlights">
                                    <h5>{{ h.field }}</h5>
                                    <p [innerHTML]="h.text"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-pane col-lg-4"
            *ngIf="chosenCard">
            <i class='close-button glyphicon glyphicon-remove' (click)="resetCard()"></i>
            <div class="card-info">
                <h2>{{ chosenCard.Name }}</h2>
                <br/>
                <img
                    class="card-img"
                    src="http://res.cloudinary.com/elusive/image/upload/{{ chosenCard.CardId }}.png"
                    alt="{{ chosenCard.Name }}">
                <div>
                    <div *ngIf="chosenCard.Type=='Weapon'">
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Cost:</em>{{ chosenCard.Cost }}
                        </div>
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Attack:</em>{{ chosenCard.Attack }}
                        </div>
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Durability:</em>{{ chosenCard.Durability }}
                        </div>
                    </div>
                    <div *ngIf="chosenCard.Type=='Spell'">
                        <em class="blue">Cost:</em>{{ chosenCard.Cost }}
                    </div>
                    <div *ngIf="chosenCard.Type=='Minion'">
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Cost:</em>{{ chosenCard.Cost }}
                        </div>
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Attack:</em>{{ chosenCard.Attack }}
                        </div>
                        <div style="width:30%;display:inline-block;">
                            <em class="blue">Health:</em>{{ chosenCard.Health }}
                        </div>
                    </div>
                    <div *ngIf="chosenCard.Type">
                        <em class="blue">Type:</em>
                        <span [innerHTML]="chosenCard.Type"></span>
                    </div>
                    <div *ngIf="chosenCard.Rarity">
                        <em class="blue">Rarity:</em>
                        <span [innerHTML]="chosenCard.Rarity"></span>
                    </div>
                    <div *ngIf="chosenCard.PlayerClass">
                        <em class="blue">Class Specific:</em>
                        <span [innerHTML]="chosenCard.PlayerClass"></span>
                    </div>
                    <div *ngIf="chosenCard.Race">
                        <em class="blue">Race:</em>
                        <span [innerHTML]="chosenCard.Race"></span>
                    </div>
                    <div *ngIf="chosenCard.CardSet">
                        <em class="blue">Card Set:</em>
                        <span [innerHTML]="chosenCard.CardSet"></span>
                    </div>
                    <div *ngIf="chosenCard.Text">
                        <em class="blue">Text:</em>
                        <span [innerHTML]="chosenCard.Text"></span>
                    </div>
                    <div *ngIf="chosenCard.Flavor">
                        <em class="blue">Flavor:</em>
                        <span [innerHTML]="chosenCard.Flavor"></span>
                    </div>
                    <div *ngIf="chosenCard.Artist">
                        <em class="blue">Artist:</em>
                        <span [innerHTML]="chosenCard.Artist"></span>
                    </div>
                    <div *ngIf="chosenCard.HowToGet">
                        <em class="blue">How to get:</em>
                        <span [innerHTML]="chosenCard.HowToGet"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>